<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Busqueda - Hoteles</title>
  <link rel="stylesheet" href="../assests/css/cars.css">
</head>
<body>

<div class="cars-container">
  <div class="car-card">


    <div class="cars-info">
      <div class="car">
        <img src="../assests/images/coche-generico.jpg" alt="foto coche" class="coche-icono">
        <div class="coche-detalles">
          <p class="nombre-coche">Modelo del coche</p>
          <p class="descripcion-coche">Descripcion</p>
        </div>
        <p class="valoracion-coche">valoracion</p>
      </div>


      <div class="coche-precio-btn">
        <p class="coche-precio">PRECIO</p>
        <button class="coche-btn">Seleccionar</button>
      </div>

    </div>
  </div>

</body>
</html>