<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filter</title>
  <link rel="stylesheet" href="../assests/css/filters.css">
</head>

<body>

<div class="filter-container">
  <h2>Filtros</h2>

  <div class="filters">
    <div class="filter"><p>FILTRO N1</p></div>
    <div class="filter"><p>FILTRO N2</p></div>
    <div class="filter"><p>FILTRO N3</p></div>
    <div class="filter"><p>FILTRO N4</p></div>

  </div>

  <button> <b>Aplicar</b></button>
</div>

</body>
</html>