<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link rel="stylesheet" href="../assests/css/footer.css"> <!-- Enlace al CSS -->
</head>
<body>

  <!-- Contenido de la página -->


<!-- Footer -->
<footer class="main-footer">
  <div class="footer-columns">

    <div class="footer-column">
      <h3>Información</h3>
      <ul>
        <li><a href="../pages/footerSection.html">Sobre nosotros</a></li>
        <li><a href="../pages/footerSection.html">Contacto</a></li>
        <li><a href="../pages/footerSection.html">Política de privacidad</a></li>
      </ul>
    </div>

    <div class="footer-column center-column">
      <h3>Ayuda</h3>
      <ul>
        <li><a href="../pages/frecuentsQuestions.html">Preguntas frecuentes</a></li>
        <li><a href="../pages/footerSection.html">Términos y condiciones</a></li>
        <li><a href="../pages/footerSection.html">Soporte</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-logo">
    JetSetGo.com
  </div>
</footer>

</body>
</html>