<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header Usuario</title>
  <link rel="stylesheet" href="../assests/css/headerUser.css">
</head>

<body>
<header class="main-header">
  <div class="logo">
    <a href="../pages/home.html">JetSetGo.com</a>
  </div>
</header>

<div class="options-container">
  <nav class="options-menu">
    <div class="option">
      <a href="../pages/home.html">
        <img src="../assests/Images/hotel.png" alt="Hoteles">
      </a>
      <span>Hoteles</span>
    </div>
    <div class="option">
      <a href="../pages/homeFlights.html">
        <img src="../assests/Images/flight.png" alt="Vuelos">
      </a>
      <span>Vuelos</span>
    </div>
    <div class="option">
      <a href="../pages/homeCars.html">
        <img src="../assests/Images/car.png" alt="Alquiler de coches">
      </a>
      <span>Alquiler de coches</span>
    </div>
  </nav>

  <div class="right-options">
    <select class="currency-selector">
      <option value="EUR">EUR</option>
      <option value="USD">USD</option>
    </select>
    <div class="icon-circle">
      <img src="../assests/Images/flag_spain.png" alt="Icono">
    </div>

    <div class="dropdown">
      <img src="../assests/Images/user.png" class="user-pic" id="user-icon" alt="Perfil">
      <div class="dropdown-menu" id="user-dropdown">
        <p id="user-name"></p>
        <a href="#" id="logout-btn"><img src="../assests/Images/logout.png"> Logout</a>
      </div>
    </div>
  </div>
</div>


</body>
</html>