<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../assests/css/header.css"> 
</head>


<body>


<header class="main-header">
    <div class="logo">JetSetGo.com</div>
</header>

<div class="options-container">

    <nav class="options-menu">
        <div class="option">
            <img src="../assests/Images/hotel.png" alt="Hoteles">
            <span>Hoteles</span>
        </div>
        <div class="option">
            <img src="../assests/Images/flight.png" alt="Vuelos">
            <span>Vuelos</span>
        </div>
        <div class="option">
            <img src="../assests/Images/car.png" alt="Alquiler de coches">
            <span>Alquiler de coches</span>
        </div>
    </nav>

    
    <div class="right-options">
        <!-- Selector de moneda -->
        <select class="currency-selector">
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
        </select>

        <div class="icon-circle">
            <img src="../assests/Images/flag_spain.png" alt="Icono">
        </div>

        <!-- Botones de sesión -->
        <button class="btn login-btn">Iniciar sesión</button>
        <button class="btn register-btn">Registrarse</button>
    </div>
</div>

</body>
</html>
