<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Busqueda - Hoteles</title>
  <!-- CSS para escritorio -->
  <link rel="stylesheet" href="../assests/css/hotels.css" media="screen and (min-width: 391px)">

  <!-- CSS para móviles (iphone 13) -->
  <link rel="stylesheet" href="../assests/css/hotels-iphone13.css" media="screen and (max-width: 391px)">

</head>
<body>

<div class="hotels-container">
  <div class="hotel-card">


    <div class="hotels-info">
      <div class="hotel">
        <img src="../assests/images/footer-section.jpg" alt="foto hotel" class="hotel-icono">
        <div class="hotel-detalles">
          <p class="nombre-hotel">Nombre Alojaiento</p>
          <p class="descripcion-hotel">Descripcion</p>
        </div>
        <p class="valoracion-hotel">valoracion</p>
      </div>


    <div class="hotel-precio-btn">
      <p class="hotel-precio">PRECIO</p>
      <button class="hotel-btn">Seleccionar</button>
    </div>

  </div>
</div>

</body>
</html>
