<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Busqueda - Hoteles</title>
  <link rel="stylesheet" href="../assests/css/hotels.css">
</head>
<body>

<div class="vuelos-container">
  <div class="vuelo-card">


    <div class="vuelos-info">
      <div class="vuelo">
        <img src="../assests/images/iberia.png" alt="Icono avión" class="vuelo-icono">
        <div class="vuelo-detalles">
          <p class="nombre-hotel">Nombre Alojaiento</p>
          <p class="vuelo-aeropuerto">Descripcion</p>
        </div>
        <p class="vuelo-tipo">Directo/Escala</p>
        <p class="vuelo-duracion">Duración</p>
      </div>

    <div class="vuelo-separador"></div>

    <div class="vuelo-precio-btn">
      <p class="vuelo-precio">PRECIO</p>
      <button class="vuelo-btn">Seleccionar</button>
    </div>

  </div>
</div>

</body>
</html>
