<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documento</title>

  <link rel="stylesheet" href="../assests/css/search-car-bar.css">
</head>

<body>

<div class="search-bar">
  <div class="search-section">
    <input type="text" placeholder="Lugar">
  </div>

  <div class="separator"></div>

  <div class="search-section date-inputs">
    <input type="text" placeholder="DD/MM/YYYY" maxlength="10">
  </div>

  <div class="separator"></div>

  <p>Hora de recogida:</p>

  <div class="search-section">
    <select id="hora recogida">
      <option value="1">7:00</option>
      <option value="1">8:00</option>
      <option value="1" selected>9:00</option>
      <option value="2">10:00</option>
      <option value="3">11:00</option>
      <option value="4">12:00</option>
      <option value="4">13:00</option>
      <option value="4">14:00</option>
      <option value="4">15:00</option>
      <option value="4">16:00</option>
      <option value="4">17:00</option>
      <option value="4">18:00</option>
      <option value="4">19:00</option>
      <option value="4">20:00</option>
      <option value="4">21:00</option>
      <option value="4">22:00</option>
      <option value="4">23:00</option>
      <option value="4">00:00</option>
    </select>

    <p>Hora de devolucion:</p>

    <select id="hora de devolucion">
      <option value="1">7:00</option>
      <option value="1">8:00</option>
      <option value="1" selected>9:00</option>
      <option value="2">10:00</option>
      <option value="3">11:00</option>
      <option value="4">12:00</option>
      <option value="4">13:00</option>
      <option value="4">14:00</option>
      <option value="4">15:00</option>
      <option value="4">16:00</option>
      <option value="4">17:00</option>
      <option value="4">18:00</option>
      <option value="4">19:00</option>
      <option value="4">20:00</option>
      <option value="4">21:00</option>
      <option value="4">22:00</option>
      <option value="4">23:00</option>
      <option value="4">00:00</option>
    </select>

  </div>


  <a href="../pages/carSearch.html">
    <button class="search-btn"><span>🔎</span></button>
  </a>

</div>

</body>
</html>