<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de hoteles</title>

    <link rel="stylesheet" href="../assests/css/search-hotel-bar.css">
  </head>

  <body>

    <div class="search-bar">
      <div class="search-section">
        <input type="text" placeholder="Lugar">
      </div>

      <div class="separator"></div>

      <div class="search-section date-inputs">
        <input type="text" placeholder="DD/MM/YYYY" maxlength="10">
      </div>

      <div class="separator"></div>

      <div class="search-section">
        <select id="adults">
          <option value="1">1 adulto</option>
          <option value="2" selected>2 adultos</option>
          <option value="3">3 adultos</option>
          <option value="4">4 adultos</option>
        </select>

        <select id="children">
          <option value="0" selected>0 niños</option>
          <option value="1">1 niño</option>
          <option value="2">2 niños</option>
          <option value="3">3 niños</option>
        </select>

        <select id="rooms">
          <option value="1" selected>1 habitación</option>
          <option value="2">2 habitaciones</option>
          <option value="3">3 habitaciones</option>
        </select>
      </div>

      <a href="../pages/hotelSearch.html">
        <button class="search-btn"><span>🔎</span></button>
      </a>
    </div>

  </body>
</html>