
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}


.form-container {
    background: white;
    padding: 30px;
    width: 45%;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}


form {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: vertical;
    max-width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}


input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
}


button {
    background: #0000FFFF;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease-in-out;
}


button:hover {
    background: #ff7f50;
}


main {
    flex-grow: 1;
}


@media screen and (max-width: 600px) {
    .contact-form {
        padding: 10px;
    }

    .form-container {
        width: 90%;
        padding: 20px;
        border-radius: 10px;
    }

    input,
    textarea {
        font-size: 14px;
        padding: 10px;
        margin-bottom: 12px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}


@media screen and (min-width: 601px) and (max-width: 1024px) {
    .contact-form {
        padding: 20px;
    }

    .form-container {
        width: 50%;
        padding: 30px;
        border-radius: 12px;
    }

    input,
    textarea {
        font-size: 16px;
        padding: 12px;
        margin-bottom: 15px;
    }

    button {
        font-size: 16px;
        padding: 12px;
    }
}
