body {
    overflow-x: hidden;
}


.UpperBackground {
    position: relative;
    width: 100vw;
    height: 35vh;
}

.UpperBackground img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



.Offer-section {
    display: flex;
    justify-content: left;
    margin-top: 6%;
}

#HeaderOferta {
    display: flex;
    margin-left: 20px;
    font-family: system-ui, -apple-system,sans-serif ;
}

.Offers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    list-style: none;
    margin: 0;
}
.Offers li {
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
.Offers li img {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    object-fit: cover;
}
@media screen and (max-width: 390px) {

    #HeaderOferta {
        margin-top: 10px;
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }

    .Offer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Offers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
        padding: 10px;
    }

    #OffersList {
        display: flex;
        flex-direction: column;
    }

    .Offers li {
        width: 200px;
        min-width: 140px;
        height: auto;
    }
}
@media (min-width: 391px) and (max-width: 1024px) {
    #HeaderOferta {
        margin-left: 30px;
        font-size: 20px;
    }
    .Offer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6%;
    }
    .Offers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
        padding: 20px;
        list-style: none;
        margin: 0;
    }
    .Offers li {
        border-radius: 10px;
        padding: 15px;
        width: auto;
        height: auto;
        text-align: center;
    }
    .Offers li img {
        width: 100%;
        height: 180px;
        border-radius: 5px;
        object-fit: cover;
    }
}




