.hotels-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    font-family: system-ui, arial, sans-serif;
}

.hotel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #e0e0e0;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.hotels-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.hotel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: flex-start;
}

.hotel-icono {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.hotel-detalles {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.nombre-hotel {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.descripcion-hotel,
.valoracion-hotel {
    color: #333;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.hotel-precio-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hotel-precio {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

.hotel-btn {
    background: blue;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: 0.3s;
    width: 100%;
    text-align: center;
}

.hotel-btn:hover {
    background: #ff7f50;
}
