/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Contenedor general */
.oferta-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0;
    background-color: transparent;
}



.oferta-card {
    background: transparent;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 240px;
    text-align: center;
    padding: 15px;
    border: 1px solid rgb(164, 160, 160);
}


.oferta-img-container {
    width: 90%;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto 15px;
}


.oferta-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.oferta-info {
    padding: 10px;
}

.oferta-destino {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.oferta-detalles,
.oferta-fechas {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.oferta-precio {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

@media (max-width: 400px) {
    .oferta-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }

    .oferta-card {
        width: 100%;
        max-width: 180px;
        margin: 0 auto;
        padding: 10px;
        border-radius: 12px;
        text-align: center;
    }

    .oferta-img-container img {
        width: 150px;
        height: 200px;
        border-radius: 8px;
    }

    .oferta-info {
        font-size: 12px;
        padding: 5px;
    }

    .oferta-destino {
        font-size: 16px;
        font-weight: bold;
    }

    .oferta-precio strong {
        font-size: 14px;
        color: #64e74f;
    }
}


